* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 300px;
    width: 300px;
}

h1 {
    /* font-family styles */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text size default size is 16px */
    /* prefer percentage(%) (em) (pt)*/
    font-size: 28px; 
    /* font thickness -> (100-900) bold, light, medium */
    font-weight: 600; 
    /* text center, right, left */
    text-align: center;
    /* transform uppercase or lowercase, capitalise */
    text-transform: capitalize;

}

h3 {
    /* font-styles like italic, oblic, normal */
    font-style:italic;
    /* stretch regular, extended, condensed( different space) */
    font-stretch: condensed;
    /* adjust line height */
    line-height: 1em;
    /* letter spaces */
    letter-spacing: 0.5em;
}

p {
    /* word spaces */
    word-spacing: 1em;
    /* to fit in the height and width */
    text-align: justify;
    /* text front space adjust */
    text-indent: 2em;
    /* shadow of words top, right, bottom, left*/
    text-shadow: 2px 2px 2px grey;

}

div a {
    /* use for underline the text, it is remove the underline */
    text-decoration: none;

}

/* pesudo elements */

a:visited {
    color: rgb(239, 12, 50)
}

a:link {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    color: peru;

}

a:focus {
    color:aqua
}